@font-face {
  font-family: 'Somar Medium Bold';
  src: url('./fonts/somar-medium-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Somar Medium Bold', sans-serif;
}